.paginator {
    margin: 10px
}
.pageNumber {
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
}
.selectedPage {
    color: white;
    font-weight: bold;
    background-color: black;
}
